/* スクロールで横に動く */

.area10{
  overflow: hidden;
}
.wrap10{
  display: flex;
}
.pn10{
  height: 100vh;
}
.pn11{ background: #346c9c; }
.pn12{ background: #b1c3cb; }
.pn13{ background: #595757; }

/* スクロールでバラバラ */
.wrap20{
  position: relative; height: 50vh;
}
.pn20{
  position: absolute; top:0; width: 40%; height: 100%; margin: auto;
}
.pn21{ background: #346c9c; left: 0%; }
.pn22{ background: #b1c3cb; left: 0; right: 0; }
.pn23{ background: #595757; right: 0; }
.pn23{ background: #595757; right: 0; }
/* 迫ってくる */
.area50{
  overflow: hidden;
}
.wrap50{
  position: relative; height: 100vh;
}
.waku50{
  height: 100%; border: 10px solid #333; box-shadow: inset 0 0 5px 5px #aaa;
}
.pn50{
  position: absolute;
}
.pn51{ background: #346c9c; }
.pn52{ background: #b1c3cb; }
.pn53{ background: #595757; }